<% title("Leads Database") %>
<div class='row' style='border-bottom: 3px solid #555555;'>
  <div class='col-md-8'>
    <h3>Leads Database</h3>
  </div>
  <div class='col-md-4 text-right' style='top:25px;'>
    <%= link_to 'Create Lead', new_admin_lead_path %> | <%= link_to 'Import Leads via CSV File', '#', onclick: "$('#file-uploader').toggle()" %>
  </div>
</div>

<div class="text-center">
  <p><%= page_entries_info @leads %></p>
  <%= paginate @leads %>
</div>

<%= form_tag admin_leads_path, method: 'get', html: {role: "form"} do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_leads_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>

<table class='table table-bordered table-striped' style='margin-top: 10px;'>
  <thead>
    <tr>
      <th>Status</th>
      <th>name</th>
      <th>Email</th>
      <th>Kind</th>
      <th>Source</th>
      <th>Category</th>
      <th>Company</th>
      <th>Rating</th>
      <th>Access</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.status %></td>
        <td><%= lead.first_name %> <%= lead.last_name %></td>
        <td><%= lead.email %></td>
        <td><%= lead.kind %></td>
        <td><%= lead.source %></td>
        <td><%= lead.category %></td>
        <td><%= lead.company %></td>
        <td><%= lead.rating %></td>
        <td><%= lead.access %></td>
        <td><%= link_to 'Show', admin_lead_path(lead) %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>