<p id="notice"><%= notice %></p>

<div class='col-sm-3' style='font-size:10px;'>
  <div class='row well'>
  <p>
  <div style='font-size:14px;font-weight:bold;'><%= @lead.name %></div>
  <%= @lead.position %><br/>
  </p>
  <p>
    <span class='legend'><strong>Address</strong></span><br/>
    <%= @lead.address1 %> <%= @lead.address2 %><br/>
    <%= @lead.city %>, <%= @lead.state %><br/>
    <%= @lead.zipcode %>
  </p>
  <p>
    <strong>Email:</strong> <em><%= mail_to(@lead.email) %></em><br/>
    <strong>Other:</strong> <em><%= mail_to(@lead.alt_email) %></em>
  </p>
  <dl class='dl-horizontal'>
    <dt>M.Phone:</dt><dd><%= @lead.phone_mobile %></dd>
    <dt>H.Phone:</dt><dd><%= @lead.phone_home %></dd>
    <dt>W.Phone:</dt><dd><%= @lead.phone_work %></dd>
    <dt>Fax Num:</dt><dd><%= @lead.phone_fax %></dd>
  </dl>
  <% if @lead.comments %>
  
  <p>
    <span class='legend'><strong>Notes:</strong></span><br/>
    <%= @lead.comments %>
  </p>
  <% end %>
  
  </div>
  <div class='row well'>
  <legend style='font-size:14px;color:navy;'>Lead Summary</legend>
  <table class='table table-condensed table-striped'>
    <tr><th>Type:</th><td><%= @lead.kind %></td></tr>
    <tr><th>Category:</th><td><%= @lead.category %></td></tr>
    <tr><th>Status:</th><td><%= @lead.status %></td></tr>
    <tr><th>Source:</th><td><%= @lead.source %></td></tr>
    <tr><th>Entry Point:</th><td><%= @lead.entry_point %></td></tr>
    <tr><th>Rating:</th><td><%= @lead.rating %></td></tr>
    <tr><th>Referred by:</th><td></td></tr>
    <tr><th>Assigned To:</th><td></td></tr>
  </table>
  <p>
    <%= link_to 'Edit', edit_admin_lead_path(@lead) %> |
    <%= link_to 'Back', admin_leads_path %>
  </p>
  </div>
  
  <div class='row well'>
    <p>
      <strong>Birthday: </strong><%= @lead.birthday %><br/>
    </p>
    <p>
      <strong>Home Anniversary:</strong> <%= @lead.purchase_date %><br/>
    </p>
    <p>
      <strong>Budget:</strong> <%= number_to_currency(@lead.budget) %><br/>
    </p>
    <p>
      <strong>Purchase price: </strong><%= number_to_currency(@lead.purchase_price) %><br/>
    </p>
    <p>
      <strong>Home value:</strong> <%= number_to_currency(@lead.home_value) %><br/>
    </p>
  </div>
  
  <div class='row well'>
    <p>
      <strong>Skype:</strong>
      <%= @lead.skype %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= @lead.facebook %>
    </p>

    <p>
      <strong>Gchat:</strong>
      <%= @lead.gchat %>
    </p>

    <p>
      <strong>Aol:</strong>
      <%= @lead.aol %>
    </p>

    <p>
      <strong>Yahoo:</strong>
      <%= @lead.yahoo %>
    </p>

    <p>
      <strong>Access:</strong>
      <%= @lead.access %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @lead.user_id %>
    </p>
  </div>
</div>